body {
    background-color: #1D1F21;
}

.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.divForm {
    height: 400px;
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: white;
}